/* --------------- Секция Слайдер --------------- */
.index__slider{
  background-color: var(--color-black);

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
/* Переход между фильмами */
.index__slider-FilmCard{
  position: absolute;

  align-items: stretch;
  /* Высота видео + 6 */
  min-height: 321px;
  min-width: 1110px;

  pointer-events: none;
  opacity: 0%;
  transition: opacity 0.3s linear;
}
.index__slider-FilmCard.active{
  opacity: 100%;
  pointer-events: all;
}
.index__slider-container{
  min-height: 321px;
  min-width: 1110px;

  margin: 0 auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
/* Превью видео */
.index__slider-thumbnail{
  position: absolute;

  width: 560px;
  height: 315px;

  display: flex;
  justify-content: center;
  overflow: hidden;

  border: none;
  border-radius: 10px;
  background: none;

  margin-bottom: 6px;
}
.index__slider-thumbnail img:first-of-type{

  /* Меняются, в зависимости от соотношения сторон картинки */
  width: auto;
  height: 100%;

  transform: scale(1.05);
  transition: transform 0.3s ease-out;
  pointer-events: none;
}
.index__slider-thumbnail img:last-of-type{
  position: absolute;
  align-self: center;

  width: auto;
  height: 65px;
  opacity: 0.5;

  transform: scale(1);
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  filter: var(--svgColor-bright);
  pointer-events: none;
}
.index__slider-thumbnail:hover{
  cursor: pointer;
}
.index__slider-thumbnail:hover img:first-of-type{
  transform: scale(1.085);
}
.index__slider-thumbnail:hover img:last-of-type{
  transform: scale(0.95);
  opacity: 1;
}
/* Чёрноё окно размером с превью и видео, чтобы замаскировать переход */
.index__slider-bg{
  position: absolute;

  width: 560px;
  height: 315px;

  /* border: none; */
  border-radius: 10px;
  background-color: black;

  /* display: none; */
}
/* Встроенное видео YouTube */
.index__slider-FilmVideo iframe{
  position: absolute;

  border: none;
  border-radius: 10px;

  display: none;
}
/* Инфо справа от видео */
.index__slider-FilmInfo{
  width: 500px;

  text-align: left;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;

  justify-content: flex-start;
}
.index__slider-FilmInfo h1{
  font-size: 30px;
  /* padding-bottom: 20px; */
  color: var(--color-text-brighter);
  margin-bottom: 20px;
}
.index__slider-FilmInfo div{
  width: 100%;

  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;

  line-height: 24px;
  font-size: 16px;
  color: var(--color-text-dark);

}
/* Кнопка */
.index__slider-FilmBtn{
  height: 40px;
  width: 200px;

  border: none;
  border-radius: 10px;
  overflow: hidden;

  margin: 41px 0 6px;

  /* Невидимая, нужна для собирания координат
  и удержания размера блока */
  opacity: 0%;
  pointer-events: none;
}
/* Анимированный бэкграунд кнопки */
.index__slider-FilmBtn div{
  height: 40px;
  width: 400px;
  margin-left: -200px;

  background: linear-gradient(45deg, var(--color-orange) 5%, var(--color-yellow) 45%);
  transition: margin-left 0.3s ease-out;

  pointer-events: none;
}
/* Текст кнопки */
.index__slider-FilmBtn button{
  height: 40px;
  width: 200px;

  position: absolute;
  margin-top: -40px;
  padding: 10px;

  background: none;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  color: var(--color-text-darkest);

  pointer-events: none;
}
.index__slider-FilmBtn:hover{
  cursor: pointer;
}
.index__slider-FilmBtn:hover > div{
  margin-left: 0px;
}
/* Главная видимая кнопка,
ловит координаты невидимых */
.index__slider-FilmBtn.prime{
  /* Фикс - иногда кнопка не отображается
  при первой загрузке страницы */
  top: -46px;
  position: absolute;
  transition:
    top 0.3s ease-out,
    left 0.3s ease-out,
    opacity 0.3s linear;
  margin: 0;
  padding: 0;

  /* opacity: 100%; */
  pointer-events: auto;
}
/* Фикс для изменения положения абсолюта
по ширине при смене размера окна */
.index__slider-FilmBtn--fix{
  flex-direction: column;
  min-height: 0;
  height: 0;
}
.index__slider-FilmBtn--fix > div{
  width: 500px;
  height: 0;
  align-self: flex-end;
  position: relative;
}
/* Кнопки переключения фильмов */
.index__sliderButtons{
  align-content: center;
  justify-content: center;

  min-height: fit-content;

  padding-top: 34px;
}
.index__sliderButtons button{
  width: fit-content;
  height: fit-content;
  border: none;
  background: none;

  padding: 15px;
}
.index__sliderButtons button div{
  width: 80px;
  height: 6px;

  border-radius: 10px;
  background-color: var(--color-text-dark);

  transition: background-color 0.3s linear;

  pointer-events: none;
}
.index__sliderButtons button:hover:not(.pressed){
  cursor: pointer;
}
.index__sliderButtons button.pressed div{
  background-color: var(--color-yellow);
}
.index__sliderButtons button:hover div{
  background-color: var(--color-yellow);
}
/* --------------- Секция Фильмы --------------- */
.filmCards__list{
  align-items: flex-start;
}
/* --------------- Стандартная Карточка фильма --------------- */
.filmCard{
  margin: 30px 0;
  border-radius: 10px;
  z-index: 1;
}
.filmCard p{
  padding-top: 10px;
  width: 160px;
}
.filmCard img{
  width: 160px;
  height: 240px;

  outline: solid var(--color-yellow) 0px;
  outline-offset: 3px;
  transition: outline 0.04s linear;
  border-radius: 10px;
}
/* Ярлычки над обложками */
.filmCard.new::before{
  content: "Новинка";

  display: block;
  position: absolute;

  height: 50px;
  width: 160px;
  margin-top: -27px;
  padding: 2px 0;

  text-align: center;
  background-color: var(--color-orange);
  border-radius: 10px;
  color: var(--color-text-darkest);
  font-weight: bold;

  z-index: -1;
}
.filmCard.exclusive::before{
  content: "Эксклюзив";
  display: block;
  position: absolute;

  height: 50px;
  width: 160px;
  margin-top: -27px;
  padding: 2px 0;

  text-align: center;
  background-color: var(--color-orange);
  border-radius: 10px;
  color: var(--color-text-darkest);
  font-weight: bold;

  z-index: -1;
}
.filmCard.available::before{
  content: "В продаже";
  display: block;
  position: absolute;

  height: 50px;
  width: 160px;
  margin-top: -27px;
  padding: 2px 0;

  text-align: center;
  background-color: var(--color-orange);
  border-radius: 10px;
  color: var(--color-text-darkest);
  font-weight: bold;

  z-index: -1;
}
.filmCard.new p::before,
.filmCard.exclusive p::before,
.filmCard.available p::before{
  content: "";
  display: block;
  position: absolute;

  height: 50px;
  width: 164px;
  margin-left: -2px;
  margin-top: -259px;

  background-color: var(--color-background-main);
  border-radius: 10px;

  z-index: -1;
}
/* Обводка вокруг карточек */
.filmCard:hover div:not(.filmCard--empty) img{
  outline: solid var(--color-yellow) 2px;
}
/* Пустая карточка */
.filmCard--empty{
  width: 160px;
  height: 240px;
  background-color: var(--color-text-darker);
  border: 2px var(--color-white) dotted;
  border-radius: 10px;
  transition: border 0.3s linear;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
.filmCard--empty:hover{
  border: 2px var(--color-yellow) dotted;
}
.filmCard--empty img{
  width: 50px;
  height: auto;
  filter: var(--svgColor-yellow);
}
.filmCard--empty p{
  width: 100px;
}
