html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;

  margin: 0;
  padding: 0;
}

/* Фикс стандартных заголовков */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
}

/* ГЛАВНЫЕ КОНСТАНТЫ ВСЕГО СТИЛЯ */
:root{
  /* Основные цвета */
  --color-white: #DFDDDD;
  --color-gray: #2E2F38;
  --color-black: #25272E;
  --color-yellow: #FCC232;
  --color-orange: #FD7E41;

  /* Текст */
  --color-text-brighter: #FFFFFE;
  --color-text-bright: #DFDDDD;
  --color-text-dark: #A7A9BE;
  --color-text-darker: #46474A;
  --color-text-darkest: #25272E;

  /* Изменить цвет у SVG */
  --svgColor-yellow: brightness(0) saturate(100%) invert(64%) sepia(73%) saturate(428%) hue-rotate(1deg) brightness(107%) contrast(98%);
  --svgColor-dark: invert(66%) sepia(19%) saturate(220%) hue-rotate(197deg) brightness(100%) contrast(90%);
  --svgColor-bright: invert(99%) sepia(0%) saturate(5461%) hue-rotate(302deg) brightness(116%) contrast(74%);


  /* Шорткаты для общего оформления */
  --color-background-main: var(--color-gray);
  --color-foreground-main: var(--color-black);
}



/*----------------- Общее -----------------*/


body{
  min-width: 1110px;

  background-color: var(--color-background-main);

  /* Весь стандартный текст */
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  text-decoration: none;
  color: var(--color-text-bright);
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: var(--color-text-bright);
  transition: color .3s linear;
}
a:hover{
  color: var(--color-yellow);
  /* text-decoration: underline; */
}

/* Разделение между секциями */
.section{
  padding: 40px 0;
}

/* Контент секции*/
.section__wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

/* Заголовок секции*/
.section--heading{
  font-size: 30px;
  padding-bottom: 40px;
}

/* Хранитель контента секции*/
.container {
  min-height: 90px;
  position: relative;
  max-width: 1110px;
  margin: 0 auto;
}

/* Отступ между  секциями */
.indent{
  margin-bottom: 40px;
}


/* Фикс для хедера */
main{
  margin-top: 102px;
  background-color: var(--color-background-main);
}
