.IMAX__cinema-heading{
  /* margin-top: 30px; */
  margin-bottom: 50px;
  font-size: 26px;
}
.IMAX__content p{
  margin-top: 20px;
  margin-bottom: 20px;
}
.IMAX__center{
  text-align: center;
}
.IMAX__cinema-inner {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
  border-bottom: 2px solid grey;
}
.IMAX__cinema-adress {
  margin-top: 20px;
}
.IMAX__cinema-cities {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.IMAX__cinema-city-circle {
  width: 5px;
  height: 5px;
  border-radius: 30px;
  background-color: green;
  margin-right: 10px;
}
.IMAX__active {
  background-color: red;
}
.IMAX__cinema-city-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 7px;
}
.IMAX__cinema-film {
  padding-left: 20px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.IMAX__cinema-film-info {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.IMAX__cinema-film-avatar {
  height: 140px;
  width: auto;
  margin-right: 20px;
}
.IMAX__cinema-film-char {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.IMAX__cinema-film-age {
  border-radius: 2px;
  width: 40px;
  text-align: center;
  border: 1px solid white;
  margin-right: 5px;
  color: white;
}
.IMAX__cinema-film-name {
  margin-top: 15px;
}
.IMAX__cinema-film-company {
  margin-top: 20px;
}
.IMAX__cinema-film-time {
  margin-top: 10px;
}
.IMAX__cinema-film-pay {
  width: 25%;
}
.IMAX__cinema-film-pay-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.IMAX__item-time {
  width: 80px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  border: 1px solid white;
}
.IMAX__item-pay {
  margin-top: 15px;
}
