/* Название выбранной страницы */
.header__menu__list .header__menu__item:nth-child(4) a{
  color: var(--color-yellow);
  pointer-events: none;
}
.discount__card{
  margin: 30px 0;
  height: 324px;
}
.discount__card div{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 344px;
  height: 228px;
  overflow: hidden;

  /* transform: scale(1);
  transition: transform 0.3s ease-out; */

  border: none;
  border-radius: 10px;
}
.discount__cardName{
  margin-top: 20px;
  font-size: 20px;
  color: var(--color-text-brighter);
  width: 344px;
  -webkit-transition: color .3s linear;
  -o-transition: color .3s linear;
  transition: color .3s linear;
}
.discount__cardDesc{
  margin-top: 10px;
  font-size: 14px;
  color: var(--color-text-dark);
}
.discount__card:hover .discount__cardName{
  color: var(--color-yellow);
}
.discount__cardImg{
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.discount__card:hover .discount__cardImg{
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}
.discount__card--placeholder{
  height: 324px;
  width: 344px;
  margin: 30px 0;
}
