/* Отмечено в футере как выбранное */
.footer__section:nth-child(2) li:nth-child(2) a{
  color: var(--color-yellow);
  pointer-events: none;
}

.s4DX__wrapper img{
  width: 100%;
  height: auto;
  border: none;
  border-radius: 10px;
  margin: 30px 0;
}
.s4DX__list li{
  font-size: 16px;
  margin: 20px 0;
  color: var(--color-text-brighter);
}
.s4DX__wrapper iframe{
  border: none;
  border-radius: 10px;
  margin: 30px 0;
}
.s4DX__heading{
  font-weight: 700;
}
.s4DX__Ulist{
  list-style-type: disc;
  list-style-position: inside;
  padding-bottom: 10px;
}
.s4DX__Ulist li{
  /* font-size: 14px; */
  padding-left: 15px;
}
.s4DX__headingUl{
  font-size: 20px !important;
}
