/* --------------- Секция Слайдер --------------- */
.index__slider{
  background-color: var(--color-black);

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/* Переход между фильмами */
.index__slider-FilmCard{
  position: absolute;

  -webkit-box-align: stretch;

      -ms-flex-align: stretch;

          align-items: stretch;
  /* Высота видео + 6 */
  min-height: 321px;
  width: 100%;

  pointer-events: none;
  opacity: 0%;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.index__slider-FilmCard.active{
  opacity: 100%;
  pointer-events: all;
}
.index__slider-container{
  min-height: 321px;
  width: 100%;

  margin: 0 auto;
  padding: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/* Блок видео */
.index__slider-FilmVideo{
  max-width: 560px;
  max-height: 315px;
}
/* Превью видео */
.index__slider-thumbnail{
  position: absolute;

  width: 560px;
  height: 315px;
  /* aspect-ratio: 16/9; */

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;

  border: none;
  border-radius: 10px;
  background: none;

  margin-bottom: 6px;
}
.index__slider-thumbnail img:first-of-type{

  /* Фикс для браузера FireFox */
  -ms-flex-item-align: start;
      align-self: flex-start;

  /* Меняются, в зависимости от соотношения сторон картинки */
  width: auto;
  height: 100%;

  -webkit-transform: scale(1.05);

      -ms-transform: scale(1.05);

          transform: scale(1.05);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  pointer-events: none;
}
.index__slider-thumbnail img:last-of-type{
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;

  width: auto;
  height: 65px;
  opacity: 0.5;

  -webkit-transform: scale(1);

      -ms-transform: scale(1);

          transform: scale(1);
  -webkit-transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-filter: var(--svgColor-bright);
          filter: var(--svgColor-bright);
  pointer-events: none;
}
.index__slider-thumbnail:hover{
  cursor: pointer;
}
.index__slider-thumbnail:hover img:first-of-type{
  -webkit-transform: scale(1.085);
      -ms-transform: scale(1.085);
          transform: scale(1.085);
}
.index__slider-thumbnail:hover img:last-of-type{
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 1;
}
/* Чёрноё окно размером с превью и видео, чтобы замаскировать переход */
.index__slider-bg{
  position: absolute;

  width: 560px;
  height: 315px;

  /* border: none; */
  border-radius: 10px;
  background-color: black;

  /* display: none; */
}
/* Встроенное видео YouTube */
.index__slider-video{
  width: 560px;
  height: 315px;

  position: absolute;

  border: none;
  border-radius: 10px;

  display: none;
}
/* Инфо справа от видео */
.index__slider-FilmInfo{
  width: 470px;

  text-align: left;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;

  -webkit-box-pack: start;

      -ms-flex-pack: start;

          justify-content: flex-start;
}
.index__slider-FilmName{
  font-size: 30px;
  /* padding-bottom: 20px; */
  color: var(--color-text-brighter);
  margin-bottom: 20px;
}
.index__slider-FilmInfo div{
  width: 100%;

  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  white-space: normal;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;

  line-height: 24px;
  font-size: 16px;
  color: var(--color-text-dark);

}
/* Кнопка */
.index__slider-FilmBtn{
  height: 40px;
  width: 200px;

  border: none;
  border-radius: 10px;
  overflow: hidden;

  margin: 41px 0 6px;

  /* Невидимая, нужна для собирания координат
  и удержания размера блока */
  opacity: 0%;
  pointer-events: none;
}
/* Анимированный бэкграунд кнопки */
.index__slider-FilmBtn div{
  height: 40px;
  width: 400px;
  margin-left: -200px;

  background: -o-linear-gradient(45deg, var(--color-orange) 5%, var(--color-yellow) 45%);

  background: linear-gradient(45deg, var(--color-orange) 5%, var(--color-yellow) 45%);
  -webkit-transition: margin-left 0.3s ease-out;
  -o-transition: margin-left 0.3s ease-out;
  transition: margin-left 0.3s ease-out;

  pointer-events: none;
}
/* Текст кнопки */
.index__slider-FilmBtn button{
  height: 40px;
  width: 200px;

  position: absolute;
  margin-top: -40px;
  padding: 10px;

  background: none;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  color: var(--color-text-darkest);

  pointer-events: none;
}
.index__slider-FilmBtn:hover{
  cursor: pointer;
}
.index__slider-FilmBtn:hover > div{
  margin-left: 0px;
}
/* Главная видимая кнопка,
ловит координаты невидимых */
.index__slider-FilmBtn.prime{
  /* Фикс - иногда кнопка не отображается
  при первой загрузке страницы */
  top: -48px;
  position: absolute;
  -webkit-transition:
    top 0.3s ease-out,
    left 0.3s ease-out,
    opacity 0.3s linear;
  -o-transition:
    top 0.3s ease-out,
    left 0.3s ease-out,
    opacity 0.3s linear;
  transition:
    top 0.3s ease-out,
    left 0.3s ease-out,
    opacity 0.3s linear;
  margin: 0;
  padding: 0;

  /* opacity: 100%; */
  pointer-events: auto;
}
/* Фикс для изменения положения абсолюта
по ширине при смене размера окна */
.index__slider-FilmBtn--fix{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 0;
  height: 0;
}
.index__slider-FilmBtn--fix > div{
  width: 470px;
  height: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
}
/* Кнопки переключения фильмов */
.index__sliderButtons{
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  min-height: -webkit-fit-content;

  min-height: -moz-fit-content;

  min-height: fit-content;

  padding-top: 34px;
}
.index__sliderButtons button{
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  background: none;

  padding: 15px;
}
.index__sliderButtons button span{
  display: block;

  width: 80px;
  height: 6px;

  border-radius: 10px;
  background-color: var(--color-text-dark);

  -webkit-transition: background-color 0.3s linear;

  -o-transition: background-color 0.3s linear;

  transition: background-color 0.3s linear;

  pointer-events: none;
}
.index__sliderButtons button:hover:not(.pressed){
  cursor: pointer;
}
.index__sliderButtons button.pressed span{
  background-color: var(--color-yellow);
}
.index__sliderButtons button:hover span{
  background-color: var(--color-yellow);
}
/* --------------- Секция Фильмы --------------- */
.filmCards__list{
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;

  -webkit-box-align: stretch;

      -ms-flex-align: stretch;

          align-items: stretch;
}
/* --------------- Стандартная Карточка фильма --------------- */
.filmCard{
  margin: 30px 0;
  border-radius: 10px;
  z-index: 3;
}
.filmCard *{
  pointer-events: none;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;

	-webkit-app-region: no-drag;
	cursor: default;

  overflow: hidden;
}
.filmCard.empty{
  height: auto;
}
.filmCard__name{
  padding-top: 16px;
  width: 160px;
}
.filmCardDiv{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: horizontal;

  -webkit-box-direction: normal;

      -ms-flex-direction: row;

          flex-direction: row;

  border: solid #00000000 2px;
  border-radius: 14px;
  padding: 3px;
  -webkit-transition: border 0.1s linear;
  -o-transition: border 0.1s linear;
  transition: border 0.1s linear;
  margin: -5px;

  overflow: hidden;
}
.filmCard img{
  width: 160px;
  height: 240px;

  border-radius: 10px;

  z-index: 2;


  -webkit-filter: blur(0px);
          filter: blur(0px);

  -webkit-transition: -webkit-filter 0.1s linear;
  transition: -webkit-filter 0.1s linear;
  -o-transition: filter 0.1s linear;
  transition: filter 0.1s linear;
  transition: filter 0.1s linear, -webkit-filter 0.1s linear;
}
.filmCard:hover img:not(.noGenres){
  -webkit-filter: blur(1px);
          filter: blur(1px);
}
/* Ярлычки над обложками */
.filmCard--new,
.filmCard--exclusive,
.filmCard--available{
  display: block;
  position: absolute;

  height: 50px;
  width: 160px;
  margin-top: -27px;
  padding: 2px 0;

  text-align: center;
  border-radius: 10px;
  color: var(--color-text-darkest);
  font-weight: bold;

  z-index: -100;
}
.filmCard--shadow{
  display: block;
  position: absolute;

  height: 50px;
  width: 166px;
  margin-left: -3px;
  margin-top: -3px;

  background-color: var(--color-background-main);
  border-radius: 12px;

  z-index: -100;
}
/* Обводка вокруг карточек */
.filmCard:hover .filmCardDiv{
  border: solid var(--color-yellow) 2px;
}
/* Пустая карточка */
.filmCard--empty{
  width: 160px;
  height: 240px;
  background-color: var(--color-text-darker);
  border: 2px var(--color-white) dotted;
  border-radius: 10px;
  -webkit-transition: border 0.3s linear;
  -o-transition: border 0.3s linear;
  transition: border 0.3s linear;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}
.filmCard--empty:hover{
  border: 2px var(--color-yellow) dotted;
}
.filmCard--empty img{
  width: 50px;
  height: auto;
  -webkit-filter: var(--svgColor-yellow);
          filter: var(--svgColor-yellow);
}
.filmCard--empty p{
  width: 100px;
}
.filmCardDiv--spec{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
/* Возрастной рейтинг */
/* Субтитры */
.filmCard--Rating,
.filmCard--Subs{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  color: white;
  font-size: 13px;
  background-color: #000000b2;
  z-index: 5;
  border: solid white 1px;
  width: 34px;

  opacity: 85%;
  -webkit-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}
.filmCard:hover .filmCard--Rating,
.filmCard:hover .filmCard--Subs{
  opacity: 100%;
}
.filmCard--Rating{
  border-radius: 5px 5px 5px 10px;
}
.filmCard--Subs{
  border-radius: 5px 5px 5px 5px;
  margin-left: 3px;
}
/* Инфо при наведении */
.filmCardDiv--info{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  width: 166px;
  height: 246px;
  margin-top: -3px;
  margin-left: -3px;
  z-index: 6;
  position: absolute;
  border-radius: 10.6px;
  background-image: -o-linear-gradient(bottom, rgba(0,0,0,0) 15, rgba(0, 0, 0, 0.85) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0,0,0,0) 15%, rgba(0, 0, 0, 0.85) 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(15%, rgba(0,0,0,0)), to(rgba(0, 0, 0, 0.85)));
  background-image: linear-gradient(0deg, rgba(0,0,0,0) 15%, rgba(0, 0, 0, 0.85) 100%);

  opacity: 0%;
  -webkit-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;

  padding: 4px 10px;

  color: white;
  font-size: 13px;
}
.filmCard:hover .filmCardDiv--info{
  opacity: 100%;
}

/* Жанры */
.filmCard--Year,
.filmCard--Genres{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  line-height: 18px;
}

.filmCard--Year{
  margin-top: 5px;
  font-weight: 700;

  /* justify-content: space-between; */
}
.filmCard--Year p{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.filmCard--Year p:nth-child(2){
  padding: 0 8px;
}


@media (max-width: 1110px) {
  .index__slider{
    display: none;
  }
}
@media (max-width: 768px){
}
@media (max-width: 359px) {
  .filmCards__list{
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
