footer{
  width: 100%;
  background-color: var(--color-foreground-main);
}

.footer__sections,
.footer__list--social,
.footer__item,
.footer__icon,
.footer__icon div{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}

/* Названия списков */
.footer__section h1{
  padding-bottom: 20px;
  font-size: 18px;
}

/* Список иконок */
.footer__list--social li{
  padding-left: 25px;
}
/* Фикс паддинга */
.footer__list--social li:first-of-type{
  padding-left: 0;
}
/* Элементы всех списков */
.footer__item{
  padding-bottom: 10px;
}

/* Ссылки-текст */
.footer__item a{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: var(--color-text-dark);
}
/* Ссылки-текст при наведении */
.footer__item a:hover{
  color: var(--color-yellow);
}

/* Ссылки-иконки, нижний слой */
.footer__icon img{
  width: 25px;
  height: auto;
  -webkit-filter: var(--svgColor-dark);
          filter: var(--svgColor-dark);
}
/* Ссылки-иконки, верхний слой */
.footer__icon div{
  position: absolute;
  background-color: var(--color-foreground-main);

  opacity: 0%;
  transition: opacity 0.3s linear;
}
.footer__icon div img{
  -webkit-filter: var(--svgColor-yellow);
          filter: var(--svgColor-yellow);
}
/* Ссылки-иконки при наведении */
.footer__icon div:hover{
  opacity: 100%;
}
