header{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  background-color: var(--color-foreground-main);
}

.header__sections,
.header__logo,
.header__menu__list,
.header__login{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__sections{
  min-height: 100px;
}

/* --------------- Лого сайта --------------- */
.header__logo{
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.header__logo img{
  width: 70px;
  height: auto;
  -webkit-filter: var(--svgColor-yellow);
          filter: var(--svgColor-yellow);
  pointer-events: none;
}
.header__logo:hover{
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

/* --------------- Список меню --------------- */
.header__menu__item{
  /* padding: 40px 0; */
  padding-left: 30px;
  font-size: 20px;
}
.header__menu__item a{
  padding: 10px 5px;
}
.header__menu__list{
  margin: 0 -5px;
}
.header__menu__list li:first-of-type{
  padding-left: 0;
}

/* --------------- Список иконок --------------- */
.header__social__list,
.header__social__item,
.header__social__icon,
.header__social__icon div{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.header__social__list{
  margin: 0 -15px;
}
.header__social__icon{
  padding: 15px;
}
/* Ссылки-иконки, нижний слой */
.header__social__icon img{
  width: 20px;
  height: auto;
  -webkit-filter: var(--svgColor-bright);
          filter: var(--svgColor-bright);
}
/* Ссылки-иконки, верхний слой */
.header__social__icon div{
  position: absolute;
  background-color: var(--color-foreground-main);

  opacity: 0%;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.header__social__icon div img{
  -webkit-filter: var(--svgColor-yellow);
          filter: var(--svgColor-yellow);
}
/* Ссылки-иконки при наведении */
.header__social__icon:hover div{
  opacity: 100%;
}

/* --------------- Кнопка/ссылка входа на сайт --------------- */
.header__login{
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;

  background: none;
  border: none;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  cursor: pointer;
  pointer-events: all;
  background: none;
  padding: 10px 0;
}
.header__login{
  font-size: 16px;
  color: var(--color-text-bright);

  -webkit-transition: color .3s linear;

  -o-transition: color .3s linear;

  transition: color .3s linear;
}
.header__login img{
  margin-left: 20px;
  width: 25px;
  height: auto;
  -webkit-filter: var(--svgColor-yellow);
          filter: var(--svgColor-yellow);
}
.header__login:hover{
  color: var(--color-yellow);
}
